<div class="col-md-8 col-md-offset-2">
    <div class="info-box">
        <p>Add new movie to your 'My Movies' database.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form name="userInputs" novalidate class="new-movie-inputs">
            <div class="col-sm-6 col-md-4 col-md-offset-2">
                <div class="form-group">
                    <label for="">Movie ID</label>
                    <input type="number" class="form-control" id="" ng-model="movieId" ng-disabled="true" required>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group" ng-class="{'has-error' : userInputs.movie.$invalid && btnClicked}">
                    <label for="">Movie *</label>
                    <small ng-show="userInputs.movie.$invalid && btnClicked" class="text-danger"> This field is required</small>
                    <input type="text" name="movie" class="form-control" ng-model="movie" required>

                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-md-offset-2">
                <div class="form-group" ng-class="{'has-error' : userInputs.director.$invalid && btnClicked}">
                    <label for="">Director *</label>
                    <small ng-show="userInputs.director.$invalid && btnClicked" class="text-danger"> This field is required</small>
                    <input type="text" name="director" class="form-control" ng-model="director" required>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="">Release Year</label>
                    <input type="number" class="form-control" ng-model="year">
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-md-offset-2">
                <div class="form-group">
                    <label for="">Genre</label>
                    <select ng-model="genre" ng-options="opt.genreOption for opt in selectValues" class="form-control"></select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <div class="new-movie-buttons form-group">
                            <div class="cancel-btn-wrap">
                                <a href="" ng-click="clearInputs()" class="text-uppercase"><strong>Cancel</strong></a>
                            </div>

                            <div class="add-btn-wrap">
                                <button ng-click="addToTable(userInputs.$valid)" class="btn btn-primary btn-sm text-uppercase">Add To My Movies</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-5 col-md-offset-5">
                        <div ng-show="successMessage" class="text-success pull-right">A movie has been added to the My Movies!</div>
                    </div>
                </div>
            </div><!-- End .row for buttons-->
        </form><!-- End Form -->
    </div><!-- End .col-sm-12 container-->
</div><!-- End .row for form-->