.form-group-lg .form-control,
.form-control,
.btn {
    border-radius: 2px;
}

.cancel-btn-wrap, .add-btn-wrap {
    display: inline-block;
}

.add-btn-wrap {
    margin-left: 1em;
}

.new-movie-buttons {
    text-align: right;
}

.new-movie-inputs {
    margin-top: 1em;
}
