/* Base Styles 
***************/
html { 
    overflow-y: scroll; 
}

body {
    background: $bg-second;
    font-family: $body-font;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4,
button, a {
    font-family: $heading-font;
}

.container {
    padding-top: 3em;
}

th {
    cursor: pointer;
}